<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <title>代发货</title>
    <link rel="stylesheet" href="public/resource/css/weui.min.css">
    <link rel="stylesheet" href="public/resource/css/jquery-weui.css">
    <link href="public/common/common.css" rel="stylesheet">
    <link href="public/resource/css/icon.css" rel="stylesheet">
    <link href="css/agency.css" rel="stylesheet">
    <script src="public/resource/js/jquery.min.js"></script>
    <script src="public/resource/js/jquery-weui.js"></script>
    <script src="public/resource/js/vue.min.js"></script>
    <script src="js/generation.js"></script>
</head>

<body>
    <div class="viewports" id="app">
        <header class="head-wrap ft-14">
            <div class="head-content color-bg-ff">
                <a href="user.html">
                    <i class="icon icon-109"></i>
                </a>
                <span class="font"></span>
            </div>
        </header>
        <div class="favor-header-bar">
            <ul class="tabs">
                <li>
                    <a href="applyStock.html">申请库存</a>
                </li>
                <li>
                    <a href="inventory.html">库存量</a>
                </li>
                <li class="default">
                    <a href="generation.html">代发货</a>
                </li>
                <li>
                    <a href="agency.html">销售业绩</a>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="ui-item" v-for="item in waitSendList">
                <div class="step-info">
                    <div class="step-in">
                        <div class="sf-addr-info">
                            <div class="sf-info">
                                <div class="sf-name">
                                    <span class="ellipsis">{{item.c_name}}</span>
                                    <span class="phone ellipsis">{{item.c_phone}}</span>
                                </div>
                                <div class="sf-address ft-13">
                                    {{item.province}}{{item.city}}{{item.area}}{{item.town}}{{item.town}}{{item.address}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-prod">
                    <div class="prod-item" v-for="item in item.productList">
                        <div class="p-img-name">
                            <div class="pro-img">
                                <a :href="'productDetail.html?id='+item.gid">
                                    <image :src="item.examplePic" />
                                </a>
                            </div>
                            <div class="pro-info-box">
                                <div class="pro-name">
                                    <div class="clamp">{{item.goodsName}}</div>
                                    <div class="clamp">规格：{{item.gdMsg}}</div>
                                </div>
                            </div>
                            <div class="pro-num">x{{item.size}}</div>
                        </div>
                    </div>
                </div>
                <div class="step-com">
                    <div class="weui-cell">
                        <div class="weui-cell__bd left">总计：{{item.totalSize}}件</div>
                        <div class="weui-cell__ft_in-access right trans">
                            合计：¥{{item.totalPrice}}
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__bd left">订单编号</div>
                        <div class="weui-cell__ft_in-access right trans">
                            {{item.orderId}}
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__bd left">配送服务</div>
                        <div class="weui-cell__ft_in-access right trans" v-if="item.wuliuStyle == 0">
                            快递运输
                            <i class="icon-74 icon right"></i>
                        </div>
                        <div class="weui-cell__ft_in-access right trans" v-else>
                            自提
                            <i class="icon-74 icon right"></i>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__bd right">
                            <div class="sureBtn" @click="sureProduct(item.orderId,item.wuliuCom,item.wuliuNum)">确认发货
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>